body {
  font-family: "Montaga", serif;
  background: #ece7e1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #33272a;
  font-family: "Italiana", sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 98px;
  line-height: 1.5;
  letter-spacing: 1px;
}
h2 {
  font-size: 64px;
}
h4 {
  font-size: 48px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  font-family: "Montaga", serif;
}
.hero {
  background: #ece7e1;
  text-align: center;
  padding: 80px 20px;
}
.hero h1 {
  font-family: "Italiana", sans-serif;
}
.hero h2 {
  font-family: "Montaga", serif;
  font-weight: 400;
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.content-container {
  padding: 60px 20px;
}
.content h1 {
  font-size: 60px;
  line-height: 80px;
  font-weight: 300;
  letter-spacing: 1px;
}
.content h2 {
  font-size: 40px;
  font-weight: 300;
  font-family: "Montaga", serif;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: "Montaga", serif;
  font-weight: 400;
  font-style: normal;
}
.content {
  margin: 30px;
}
.content p {
  font-size: 16px;
  color: #594a4e;
}

.btn-branding {
  background: #1a1818;
  border-radius: 50px;
  color: #ece7e1;
  font-size: 16px;
  line-height: 27px;
  padding: 12px 25px;
  letter-spacing: 1px;
}
.btn-branding:hover {
  background: #ffc6c7;
  color: #33272a;
  transition: all 250ms ease-in-out;
}
.btn-branding-outline {
  background: #1a1818;
  color: #ece7e1;
  border-radius: 50px;
  font-size: 16px;
  line-height: 27px;
  padding: 12px 25px;
  letter-spacing: 1px;
}
.btn-branding-outline:hover {
  background: #ffc6c7;
  color: #33272a;
  transition: all 250ms ease-in-out;
}
.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 28px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
  .cards {
    justify-content: center;
    text-align: center;
  }
  .img-fluid {
    display: none;
  }
}
.nav {
  padding: 20px 0;
}
.navbar {
  background: #ece7e1 !important;
}
.nav li {
  display: inline;
  list-style: none;
}
.nav li a {
  line-height: 40px;
  text-decoration: none;
  color: #ff8ba7;
}
.logo {
  max-height: 40px;
}
.active {
  color: #ff8ba7 !important;
}
.nav-item {
  padding: 0 10px;
}
.nav-link {
  font-family: "Montaga", serif;
  font-weight: 400;
  font-style: normal;
}
.img-fluid {
  width: 90%;
  height: 90%;
  margin-left: 12px;
  border: 1px solid #33272a;
  border-radius: 12px;
}

.info-tools {
  font-family: "Montaga", serif;
  margin-left: 50px;
  margin-bottom: 18px;
  color: #594a4e;
}
.info-tools .skill {
  border: 2px solid #f3aadf;
  border-radius: 50px;
  padding: 0px 10px;
}

row {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 100px;
  height: 100px;
  margin: 5px;
  object-fit: scale-down;
}
.contact-box {
  padding: 60px 30px;
  margin-left: 30px;
  margin-right: 60px;

  justify-content: center;
}
.footer-mail {
  margin-top: 45px;
  font-size: 14px;
  text-align: center;
}

footer .email-link {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

footer .social-links a:hover {
  color: #1a1818;
  background: #ffc6c7;
}
.contact-page a {
  margin: 0 8px;
  color: #1a1818;
  padding: 5px 12px;
  border-radius: 50%;
  font-size: 20px;
  transition: all 100ms ease-in-out;
}
.contact-page a:hover {
  color: #1a1818;
  background: #ffc6c7;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 300px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 12px;
  border: 1px solid #594a4e;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.text {
  color: #594a4e;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

.card-5 {
  background: radial-gradient(#ece7e1, #ccc6b7);
}
