body {
  font-family: "Montaga", serif;
  background: #ece7e1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #33272a;
  font-family: "Italiana", sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
h4 {
  font-size: 48px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  font-family: "Montaga", serif;
}
.hero {
  background: #ece7e1;
  text-align: center;
  padding: 80px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #33272a;
}
.hero h2 {
  font-family: "Montaga", serif;
  font-weight: 400;
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.content-container {
  padding: 60px 20px;
}
.content h1 {
  font-size: 60px;
  line-height: 80px;
  font-weight: 300;
  letter-spacing: 2px;
}
.content h2 {
  font-size: 40px;
  font-weight: 300;
  font-family: "Montaga", serif;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: "Montaga", serif;
  font-weight: 400;
  font-style: normal;
}
.content {
  margin: 30px;
}
.content p {
  font-size: 16px;
  color: #94a1b2;
}

.btn-branding {
  background: #1a1818;
  border-radius: 50px;
  color: #ece7e1;
  font-size: 16px;
  line-height: 27px;
  padding: 12px 25px;
  letter-spacing: 1px;
}
.btn-branding:hover {
  background: #ffc6c7;
  color: #33272a;
  transition: all 250ms ease-in-out;
}
.btn-branding-outline {
  background: #1a1818;
  color: #ece7e1;
  border-radius: 50px;
  font-size: 16px;
  line-height: 27px;
  padding: 12px 25px;
  letter-spacing: 1px;
}
.btn-branding-outline:hover {
  background: #ffc6c7;
  color: #33272a;
  transition: all 250ms ease-in-out;
}
.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 28px;
  }

  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
.nav {
  padding: 20px 0;
}
.navbar {
  background: #ece7e1 !important;
}
.nav li {
  display: inline;
  list-style: none;
}
.nav li a {
  line-height: 40px;
  text-decoration: none;
  color: #ff8ba7;
}
.logo {
  max-height: 40px;
}
.active {
  color: #ff8ba7 !important;
}
.nav-item {
  padding: 0 10px;
}
.nav-link {
  font-family: "Montaga", serif;
  font-weight: 400;
  font-style: normal;
}
.img-fluid {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-left: 10px;
  border: 1px solid #33272a;
  border-radius: 12px;
}

.info-tools {
  font-family: "Montaga", serif;
  border: 2px solid #ff8ba7;
  border-radius: 12px;
  margin-top: 14px;
  margin-bottom: 12px;
  padding: 12px 20px;
  color: #594a4e;
}
.info-tools p {
  font-family: "Montaga", serif;
  color: rgba(33, 37, 41, 0.75);
}
row {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 200px;
  height: 200px;
  margin: 5px;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background: #ece7e1;
  padding: 30px 100px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: #1a1818;
  font-size: 20px;
  text-align: center;
}
footer .email-link:hover {
  color: #33272a;
}
footer .social-links a {
  margin: 0 20px;
  color: #1a1818;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: #1a1818;
  background: #ffc6c7;
}
.contact-page a {
  margin: 0 8px;
  color: #1a1818;
  padding: 5px 12px;
  border-radius: 50%;
  font-size: 20px;
  transition: all 100ms ease-in-out;
}
.contact-page a:hover {
  color: #1a1818;
  background: #ffc6c7;
}
